.mt-100{
 margin-top: 100px;
}

#cv-form{
    display: none;
}

.background-image{
    background-image: url('static\img\resume.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 800px;
    height: 100vh;
}

.myimg{
    border-radius: 50%;
    width: 200px;
}