.mt-100{
 margin-top: 100px;
}

/* #cv-form{
    display: none;
} */

#cv-template{  
    display: none;
}

.container{
  width: auto;
}

#pp22{
  display: none;
}

#pp22{
  text-align: center;
}

.container5{
  text-align: center;
}

.background{
    background-color: rgb(234, 246, 246);
}
.main{
    width: 100%;
    background-image:  url('../img/resume.jpg');
    background-position: center;
    background-size: cover;
    height: 109vh;
}
.menu{
  width: 1000px;
  float: right;
  height: 70px;

  }

  ul{
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  }

  ul li{
  list-style: none;
  margin-left: 90px;
  margin-top: 19px;
  font-size: 18px;
  }

  ul li a{
  text-decoration: none;
  color: #fff;
  font-family: Arial;
  font-weight: bold;
  transition: 0.4s ease-in-out;
  }
  ul li a:hover{
  color: #ff7200;
  }

  .search{
    width: 330px;
    float: left;
    margin-left: 270px;
  }

  .content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
    font-size: 40px;
  }
  .content h1{
    font-size: 50px;
  }

.auto-type1{
    font-family: "Times New Roman";
    font-size: 50px;
    padding-left:auto;
    margin-top: 9px;
    letter-spacing: 2px;
    color: #fff;
  }

.content .cn{
    width:  190px;
    height: 40px;
    background: #76a7e7;
    border: none;
    margin-bottom: 10px;
    margin-left: auto;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
  }
.content .cn a{
  text-decoration: none;
  color: #000;
  transition: .3 ease;
}

.cn:hover{
  background: #fff;
}

.content span{
  color: #ff7200;
  font-size: 60px;
}
.myimg{
    border-radius: 50%;
    width: 200px;
}

.bg1{
    width: 100%;
    background-image: url('../img/pexels-philippe-donn-1169754.jpg');
    background-position: center ;
    background-size: cover;
   
}

.nvabar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 80px;
    float: left;
    height: 70px;
}

.logo{
   
    font-size: 20px;
    font-family: Algerian;
    padding-left: auto;
    float: left;
    padding-top: 5px;
}

.cv{
    
    color: black;
    size: 4px;
    

}
.myimg{
  vertical-align: top;
  display: inline-block;
}

.btn{
    size:10px;
    padding: 8px;
}



/* template container */
.header {
  margin-bottom: 30px;
}

.container2 {
  max-width: 850px;   
  background: #fff;
  margin: 0px auto 0px; 
  padding-bottom: 15px; 
  height: 100ch;
  
}

.full-name {
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.first-name {
  font-weight: 700;
}

.last-name {
  font-weight: 300;
}

.contact-info {
  margin-bottom: 20px;
}


.phone {
  color: #999;
  font-weight: 300;
} 

.separator {
  height: 10px;
  display: inline-block;
  border-left: 2px solid #999;
  margin: 0px 10px;
}

.position {
  font-weight: bold;
  display: inline-block;
  margin-right: 10px;
  text-decoration: underline;
}


/* details */
.details {
  line-height: 20px;
}
  .section {
    margin-bottom: 22px;  
  }
  
  .section:last-of-type {
    margin-bottom: 0px;  
  }
  
  .section__title {
    letter-spacing: 2px;
    color: #54AFE4;
    font-weight: bold;
    margin-bottom: 5px;
    text-transform: uppercase;
  }
  
  .section__list-item {
    margin-bottom: 18px;
  }
  
  .section__list-item:last-of-type {
    margin-bottom: 0;
  }
  
  .left ,
  .right {
    vertical-align: top;
    display: inline-block;
    width: 30%;
  }
  
  .left {
    width: 60%;    
  }

  .left1 {
    text-align: right;
    width: auto;
  
  }
  
  .right {
    text-align: right;
     width: fit-content;
     margin-top: auto;
     width: 22%;
  }

  .right1 {
    text-align: right;
    width: auto;
    width: 80%;    
  }

  
  .name {
    font-weight: bold;
    
  }
  
  a {
    text-decoration: none;
    color: #000;
    /* font-style: italic; */
  }
  
  a:hover {
    text-decoration: underline;
    color: #000;
  }
  
  .skills__item {
    margin-bottom: 10px;  
  }
  
  /* .skills__item .right {
    input {
      display: none;
    }
  } */
    
    /* label {
      display: inline-block;  
      width: 20px;
      height: 20px;
      background: #C3DEF3;
      border-radius: 20px;
      margin-right: 3px;
    } */
/*     
    input:checked + label {
      background: #79A9CE;
    } */
  
    .logo{
      font-weight: 900;
      color: #64bcec;
  }

/* Dynmaic creation */
.flex{
  display: flex;
  gap: 1.5em;
}

.delete{
  text-decoration: none;
  display: inline-block;
  background: #e44545;
  color: #DAD7D7;
  font-size: 1.5rem;
  font-weight: bold;
  width: 20px;
  height: 30px;
  color: #fff;
  margin-left: auto;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

}

  
.lbl{
  font-weight: bold;
  font-size: 2ch;
}
.bold{
  font-weight: bold;
  font-size: 5ch;
  font-family: Arial, Helvetica, sans-serif;
}

.container .bt1{
  font-weight: bold;
  width: auto;
  
  background: #f39d4d;
  border: none;
  margin-top: 350px;
  margin-left: 20px;
  font-size: 30px;
 
  cursor: pointer;
}

.container .bt2{
  font-weight: bold;
  width: auto;
  
  background: #f39d4d;
  border: none;
  margin-top: 350px;
  margin-left: 20px;
  font-size: 30px;
 
  cursor: pointer;
}

.add{
  text-decoration: none;
  display: inline-block;
  width: 20px;
  height: 20px;
  background:#6ad26b;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px ;
  
}

.add1{
  text-decoration: none;
  display: inline-block;
  width: 20px;
  height: 20px;
  background:#6ad26b;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px ;
  
  
}
  
.card-body{
  width: auto;
}
  
  
  
  
  
  
  
  
  