
<!doctype html>
<html lang="en">
  <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <title>Project</title>
        
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body class="bg1">
    

    <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
            <a class="logo" href="#"><b>Resume-builder</b></a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active center bold" href="/">Home</a>

                </li>
                <li>
                    <a class="nav-link bold" aria-current="page" href="/login">Login</a>
                </li>
                <li>
                    <a class="nav-link bold " href="/signup">sign-up</a>
                    
                </li>
                <li>
                    <a class="nav-link bold" href="/login">logout</a>
                </li>
                </ul>
                <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
            </div>
    </nav>
<div class="main">      
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1 class="display-4 mt-100">
                    <div class="conatainer">
                    <a type="button" class="btn btn-primary bt1" href="/temp1">Create an Awesome resume  </a>
                    </div>
                </h1>
            
            </div>
            <div class="col-md-4">
                <div class="container">
                <h1 class="display-4 mt-100">
                  
                    <a type="button" class="btn btn-primary bt2" href="/word">Wordcloud</a>
                </h1>
                </div>
                
            </div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>
