{% extends 'index.html' %} {% block title %}Login{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-8">
            <h1 class="display-4 mt-100 cv"> 
            <span class="auto-type"></span>
            </h1>
        </div>
        <div class="col-md-4">
            <div class="card mt-100">
                <div class="card-body">
                    <form calss="form " method="POST" action="/login_valid">
                         <!-- POST methode carry requested parameter in message body of the HTTP request
                            GET methode carry rquested parameter appended in URL string-->
     <style>
         h3{
             padding-top: 10px;
         }
         .form-group{
             width: auto;
             margin: auto;
             padding: 5px;
             
         }
         .form{
            background: linear-gradient(to top rgba(0,0,0,0.8)50%, rgba(0,0,0,0.8)50% );
            position: relative;
         }
     </style>
     <h3 align="center">Login</h3>
     <div class="form-group">    
         <label for="email1">Email</label>
         <input type="email"
         class="form-control" 
         name="email1"
         id="email1"
         placeholder="Enter the email "/>
     </div>
     <div class="form-group">
         <label for="passwd">password</label>
         <input 
         type="password"
         class="form-control" 
         name="passwd" 
         id="passwd"
         placeholder=" Enter the password"/>
     </div>
     <p class="mt-2">New user? <a href="/signup">Create an account</a></p>
     <div class=" form-group text-center">
        <button type="submit" class="btn btn-primary " value="Login" padding-left="10px">L O G I N</button>
     </div>
                    </form>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
        <script>
          var typed = new Typed(".auto-type", {
              strings: ["  A Free, Quick and Easy Way to Create Your Professional Resume "],
              typeSpeed: 100,
              backSpeed: 300,
              loop: true
          })  
        </script>
    </div>
   


{% endblock %}











 





