{% extends 'index.html' %} {% block title %}Login{% endblock %}

{% block content %}

<link rel="stylesheet" href="static\css\style.css">

<form class="form mt-5" method="POST" action="/wordcld1">
    <h2>Wordcloud</h2>
    <label for="">Enter the string</label>
    <textarea 
        type="text"
        id="t1"
        name="t1"
        class="form-control"
        placeholder="Enter here"
        rows="10"
        cols="50"
    ></textarea>
    <button  class="btn btn-primary mt-2 btn-lg" value="word">Click</button>
    <!-- <textarea class="form-control" action="/wordcld" cols="60" rows="10" placeholder="type here"></textarea> -->
</form>

<script src="static\js\script.js"> </script>


{% endblock %}